<mat-form-field>
  <mat-label>Search a book</mat-label>
  <input matInput type="text" [(ngModel)]="searchText" />
</mat-form-field>
<ng-container
  *ngIf="
    { books: books$ | async, loading: loading$ | async } as data;
    else loading
  "
>
  <div *ngIf="data.loading === false" class="container">
    <app-book
      *ngFor="let book of data.books | filter: searchText"
      [book]="book"
    ></app-book>
  </div>
</ng-container>

<ng-template #loading>
  <div class="col-12 text-center">is loading</div>
</ng-template>
