<ng-container
  *ngIf="{
    cart: cart$ | async,
    loading: loading$ | async,
    total: total$ | async
  } as data"
  ><div *ngIf="data.loading === false; else loading" class="container">
    <app-book
      *ngFor="let cart of data.cart; let index = index"
      [book]="cart"
      [index]="index"
    ></app-book>
  </div>
  <p *ngIf="data.cart.length > 0">Total : {{ data.total }} €</p>
  <p *ngIf="data.cart.length == 0">Panier vide</p>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</ng-container>
